@import url("common.css");
.main_banner {
  width: 100%;
  height: 82vh;
  background: url("/img/cs_visual.png") no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.main_banner .banner_wrap {
  width: 100%;
  height: 82vh;
}

.main_banner .banner_wrap h2 {
  color: #fff;
  font-family: NanumSquare_acEB;
  font-size: 80px;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cs_wrap {
  text-align: center;
  margin: 150px auto 0 auto;
  width: 100%;
}

.cs_wrap h2 {
  font-size: 40px;
  font-weight: bold;
}

.cs_wrap .cs_category .btn_more {
  font-size: 18px;
  color: #414141;
  font-weight: 600;
  border: 1px solid #d2d2d2;
  padding: 20px 50px;
  margin-right: 40px;
}

.cs_wrap .cs_category .btn_more:nth-of-type(4) {
  margin-right: 0;
}

.cs_wrap .cs_category .btn_more.active,
.cs_wrap .cs_category .btn_more:hover {
  background: #ff8400;
  color: #fff;
  border: 1px solid #ff8400;
}

.download {
  width: 100%;
  background: #f8f8f8;
  margin: 50px auto;
  padding: 50px 0;
  display: none;
}

.download .down_top {
  margin-bottom: 20px;
}

.download .down_top p {
  font-size: 20px;
  color: #414141;
  font-weight: normal;
  display: inline-block;
}

.download .down_top .setup_ck {
  color: #ff8400;
  font-size: 18px;
  text-decoration: underline;
  text-underline-position: under;
}

.download .down_btn {
  width: 700px;
  height: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download .down_btn .btn_square {
  display: inline-block;
  font-size: 18px;
  padding: 20px 40px;
}

.download .down_btn .btn_square span {
  width: 21px;
  height: 23px;
  background: url("/img/cs_icon_down.png") no-repeat;
  display: inline-block;
  margin-left: 10px;
}

.download .down_btn .setup_file .setup_btn .btn_square {
  background: #343434;
  margin-left: 10px;
  color: #fff;
}

.download .down_btn .setup_file .setup_btn .btn_square:hover {
  background: #414141;
}

.download .down_btn .setup_file p {
  margin-top: 20px;
}

.download .down_btn .delete_file .delete_btn .btn_square {
  background: #ff8400;
  color: #fff;
}

.download .down_btn .delete_file .delete_btn .btn_square:hover {
  background: #ff9019;
}

.download .down_btn .delete_file p {
  margin-top: 20px;
}

.download.active {
  display: block;
}

.cs_faq {
  width: 1230px;
  margin: 0 auto 150px auto;
  display: none;
}

.cs_faq h3 {
  font-size: 40px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.cs_faq .faq_list_wrap {
  width: 90%;
  margin: 50px auto;
}

.cs_faq .faq_list_wrap .faq_list {
  width: 100%;
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item {
  text-align: left;
  margin: 10px;
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item .faq_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 30px;
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item .faq_title h4 {
  font-size: 18px;
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item .faq_title .faq_btn {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item .faq_title .faq_btn img {
  width: 32px;
  height: 17px;
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item .faq_title .faq_btn.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cs_faq .faq_list_wrap .faq_list .faq_list_item .faq_content {
  padding: 50px;
  display: none;
}

.cs_faq.active {
  display: block;
}

.section_feature {
  padding: 50px 20px;
}

.section_feature .txt_area {
  width: 1230px;
  padding: 70px 350px;
  background: #f8f8f8;
  margin-bottom: 100px;
  font-size: 20px;
}

.section_feature .txt_area p {
  line-height: 1.8;
}

.form_wrap {
  width: 1230px;
}

.form_wrap .privacyCheck_wrap {
  text-align: left;
}

.form_wrap .privacyCheck_wrap h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form_wrap .privacyCheck_wrap .checkWrap {
  margin-top: 10px;
}

.privacyTxt {
  border: 1px solid #e5e5e5;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.privacyTxt .txtWrap {
  padding: 30px;
}

.privacyTxt .txtWrap dt {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.privacyTxt .txtWrap .privacy_table {
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid #707070;
  width: 100%;
}

.privacyTxt .txtWrap .privacy_table th {
  background: #707070;
  padding: 10px;
}

.privacyTxt .txtWrap .privacy_table td {
  padding: 10px;
}

.contactBoard {
  margin: 100px auto 0 auto;
}

.contactBoard p {
  text-align: right;
  font-size: 16px;
  color: #585858;
  border-bottom: 1px solid #585858;
  padding: 10px;
}

.contactBoard .btn_square {
  padding: 20px 50px;
  font-size: 20px;
}

#formBoard .boardWrite {
  width: 90%;
  margin: 50px auto;
  border-collapse: collapse;
  font-size: 18px;
}

#formBoard .boardWrite tr {
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#formBoard .boardWrite tr th {
  width: 180px;
  text-align: left;
}

#formBoard .boardWrite tr td {
  text-align: left;
}

#formBoard .boardWrite tr td select,
#formBoard .boardWrite tr td input,
#formBoard .boardWrite tr td textarea {
  font-size: 14px;
  border: 1px solid #e5e5e5;
}

#formBoard .boardWrite tr td select,
#formBoard .boardWrite tr td input {
  width: 400px;
  height: 30px;
  padding: 5px;
}

#formBoard .boardWrite tr td textarea {
  width: 700px;
  height: 400px;
  padding: 10px;
  resize: vertical;
}

#formBoard .boardWrite tr:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  display: block;
  margin-top: 30px;
}
/*# sourceMappingURL=customer.css.map */