/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* ---------  slide --------- */

.slide {
  width: 100%;
  height: 82vh;
  margin: 0 auto;
}
.slide div {
  height: 100%;
}
.slide li {
  height: 100%;
  background-size: contain;
}
.slide .s_item_01 {
  background: url("../img/index_slide_item_01.jpg") no-repeat;
}
.slide .s_item_02 {
  background: url("../img/index_slide_item_02.jpg") no-repeat;
}
.slide .s_item_03 {
  background: url("../img/index_slide_item_03.jpg") no-repeat;
}
.slide .s_item_04 {
  background: url("../img/index_slide_item_04.jpg") no-repeat;
}
.slide .s_item_05 {
  background: url("../img/index_slide_item_05.jpg") no-repeat;
}

/* prev-next */
.slide .slick-prev,
.slide .slick-next {
  display: none !important;
}
.slide .slick-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  list-style: none;
  margin: 0;
  padding: 0;

  transform: translateX(-50%);
}
.slide .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slide .slick-dots li button {
  width: 35px;
  height: 5px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 0;
  padding: 0;
  border: none;
}
.slide .slick-dots li.slick-active button {
  background: #fff;
}

.slick-active div li .txt_area {
  animation: txtFadeUp 1.2s;
  opacity: 1;
}

@keyframes txtFadeUp {
  0%,
  30% {
    opacity: 0;
    transform: translateY(-40%);
  }

  100% {
    opacity: 1;
    transform: translateY(-55%);
  }
}
